$text-color: #414042;
$text-color--dark: #17191C;
$text-color--light: #F1F1F2;
$background-color: #014EA2;
$background-color--accent: #213B5F;
$background-color--light: #F1F1F2;
$box-shadow-color: rgba(0,0,0,0.4);
$error-color: #FF3333;